@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,300,500,600,700,800,900");

/*
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

body {
    background: #0f1116;
}

body, span, input, select, textarea {
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.65em;
}

a {
    color: #d84780;
    text-decoration: underline;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

p {
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border-top: solid 1px #888888;
    border: 0;
    margin-bottom: 1.5em;
}

blockquote {
    border-left: solid 0.5em #888888;
    font-style: italic;
    padding: 1em 0 1em 2em;
}

header.major {
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

header.major h2 {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-weight: 800;
    font-size: 2.8em;
}

header.major .byline {
    display: block;
    margin: 0.50em 0 0 0;
    padding: 0 0 0.5em 0;
    letter-spacing: 1px;
    font-size: 1.3em;
    font-weight: 300;
}

footer > :last-child {
    margin-bottom: 0;
}

footer.major {
    padding-top: 3em;
}

#footer span {
    color: #FFF;
    font-size: 1.5em;
}

#footer a {
    color: #ddaadd;
}

/* Image */

.image {
    border: 0;
    position: relative;
}

.image.feature {
    display: block;
    margin: 0 0 2em 0;
}

.image.feature img {
    display: block;
    width: 100%;
}

.image.featured {
    position: static;
    display: block;
    margin: 0;
}

.image.featured img {
    display: block;
    width: 100%;
}

/* Icon */

.icon {
    position: relative;
}

.icon:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Lists */

ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}

ol.default li {
    padding-left: 0.25em;
}

ul.default {
    margin: 0em 0em 2em 0em;
    padding: 0em 0em 1.5em 0em;
    list-style: none;
}

ul.default li {
    padding: 0.60em 0em;
    font-size: 0.90em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
}

ul.default li:first-child {
    border-top: none;
}

span.tiny {
    font-size: 0.75em;
}


ul.actions {
    cursor: default;
}

ul.actions:last-child {
    margin-bottom: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

ul.actions li:first-child {
    padding: 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1.5em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding: 0;
}

ul.style {
    padding-top: 1em;
}

ul.style li {
    position: relative;
    padding: 3em 2em 3em 4em;
    /* border-top: solid 1px rgba(255, 255, 255, 0.2); */
}

ul.style > :first-child {
    border-top: none;
}

/* -- this does the font-awesome symbol */
/* ul.style li:before { */
/*     position: absolute; */
/*     left: 0; */
/*     top: 1em; */
/*     display: block; */
/*     background: none; */
/*     color: #FFF; */
/*     width: 56px; */
/*     height: 56px; */
/*     text-align: center; */
/*     font-size: 3em; */
/*     border-radius: 6px; */
/* } */

ul.style h3 {
    margin-bottom: 0.80em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.75em;
    color: #FFF;
}

ul.style sup {
    text-transform: none;
}

ul.style span {
    line-height: 180%;
    color: #FFF;
}

ul.style span.collab {
    line-height: 120%;
    font-size: 0.8em;
    color: #cccccc;
}

.style img
{
    position: static;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 95%;
    height: auto;
}


/* Button */

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    background: #ebeb9a;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.0em;
    font-weight: 600;
    color: #522969 !important;
}

.button a {
    color: #522969;
}
		  
.button:hover {
    background: #ffffca;
}


.button.alt {
    border: 1px solid #FFF;
    color: #c0c05e;
}


.button.small {
    font-size: 0.8em;
}

.button.medium {
    padding: 0.80em 2em;
    font-size: 1.6em;    
}

/* Wrapper */

.wrapper.style1 {
    padding-top: 10em;
    padding-bottom: 2em;
/*
                background: url(../images/bg.jpg) no-repeat center top;
		background-size: cover;
		background-attachment: fixed;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0); */
}

.wrapper.style2 {
    padding: 3em 0;
    background: #522969;
    color: white;
}

/* Header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #522969;
    color: #fff;
    padding: 1.25em 1.25em 1.25em 1.25em;
    z-index: 100;
}

/* Logo */

#logo {
    font-size: 1.2em;
    cursor: default;
}

#logo h1 {
    font-size: 1.2em;    
    display: inline-block;
    text-transform: uppercase;
}

#logo span {
    color: #dddddd;
}

/* Navigation */

#nav {
    position: absolute;
    right: 0;
    top: 0;
    cursor: default;
}

#nav ul li {
    display: inline-block;
    padding: 1.25em 1.25em;
}

#nav ul li a {
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
    display: inline-block;
    color: #ddd;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

#nav ul li a:hover {
    color: #fff;
}

/* Banner */

#banner {
    text-align: center;
    color: #fff;
    padding: 0em 4em;
    margin-bottom: 6em;
}

#banner p {
    font-size: 1.75em;
    line-height: 1.75em;
}

#banner strong,
#banner a {
    color: inherit;
}


/* sub-Banner */

#subbanner {
    text-align: center;
    color: #fff;
    padding-top: 3em;
    margin-bottom: 1em;
}

#subbanner p {
    font-size: 1.75em;
    line-height: 1.75em;
    padding-top: 1em;
}

#subbanner strong,
#subbanner a {
    color: inherit;
}


/* compact banner */
#compactbanner {
    text-align: center;
    color: #fff;
    padding: 0em;
    margin-bottom: 1em;
}

#compactbanner p {
    font-size: 1.25em;
    line-height: 1.25em;
}


/* black heading -- for no sidebar pages */
.blackheading {
    text-align: center;
    color: #fff;
    padding: 2em 0em;
    margin-bottom: 0em;
}

.blackheading p {
    font-size: 2.0em;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffca;
    line-height: 1em;
    padding: 0em;
    margin: 0;
}
    

/* Main */

/* Footer */

#footer {
    text-align: center;
    color: #FFFFFF;
}

#footer .major h2, 
#footer .major .byline { 
    color: #FFF !important;
} 

/* Page */

#page {
    position: relative;
    background: #FFF;
    padding: 2em 4em 2em 4em;
    border-radius: 6px;
    margin-bottom: 1em;
}

#page p.tight {
    margin: 0;
}

#page dt {
    padding-top: 0.5em;
    padding-left: 0.25em;
    padding-bottom: 0.25em;
    color: black;
    font-size: 1.1em;
}

#page dd {
    padding-left: 1.0em;
    padding-bottom: 1.0em;
}


#page h1 {
    font-size: 2em;
    color: #522969;
    margin-left: -0.25em;
}

/* Sidebar */

#sidebar .major {
    padding-bottom: 2em;
}

#sidebar .major h2 {
    font-size: 1.8em;
}

/* Copyright */

#copyright {
    color: #ddd;
    color: rgba(255, 255, 255, 0.2) !important;
    text-align: center;
    display: block;
    padding: 0.5em 0em;
}

#copyright a {
    text-decoration: none;
    color: #ddd;
    color: rgba(255, 255, 255, 0.4) !important;
}

/* Box */

.box {
    padding: 1.5em 1.25em;
    background: #FFF;
    text-align: center;
    border-radius: 0px 0px 6px 6px;
}

.box p {
    margin-bottom: 1em;
}

/* research */
.research img
{
    position: static;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

ul.research {
    padding-top: 1em;
}

ul.research li {
    position: relative;
    padding: 3em 2em 3em 4em;
    /* border-top: solid 1px rgba(255, 255, 255, 0.2); */
}

ul.research > :first-child {
    border-top: none;
}


ul.research h3 {
    margin-bottom: 0.80em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    color: #000;
}

ul.research span {
    line-height: 180%;
    color: #000;
}

ul.research span.collab {
    line-height: 120%;
    font-size: 0.8em;
    color: #444444;
}


.about_pic img {
    display: block;  /* this allows us to center it */
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 1em;
}

