/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
   margin: 0;
   padding: 0;
}

body {
   background: #D4C792 url(../../images/img01.gif);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   color: #333333;
}

h1, h2, h3 
{
   color: #AA2808;
}



/* Normal */

#normal 
{
   width: 90%;
   margin: 0em 2em 2em 2em;
   color: #FFFFFF;
   font-size: 14px;
}


#normal td 
{
   font-size: 14px;
}



#normal H1   
{
   font: normal 28px "Trebuchet MS", Arial, Helvetica, sans-serif;
   color: red;
   font-weight: normal;
}

#normal H2 
{
   font-size: large;
   color: #AA66FF;
   font-weight: normal;
}



#normal a {
   text-decoration: underline;
   color: #AAAAFF;
}

#normal a:hover 
{
   text-decoration: none;
   color: #FF8828;
}

#normal ul 
{
   margin-left: 2em;
   margin-top: 1em;
}

#normal td 
{
   color: #FFFFFF;
   padding: 5px;
}


#normal table 
{
   margin-left: auto;
   margin-right: auto;
}


#normal h2.center 
{
   text-align: center;
}


/* a centered heading for research pages */

#plainhead 
{
   margin-top: 1em;
   text-align: center;
}


div.anim1
{
  width: 90%;
  min-height: 240px;
  padding: 1.5em; 
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 1em 4em 1em 4em;
  border-radius: 1em 4em 1em 4em;
  background-color: #ffffff;
  color: #000000;
  border: 6px;
  border-style: solid;
  border-color: #aa22aa; 
}


div.anim2
{
  width: 90%;
  min-height: 240px;
  padding: 2em; 
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 4em 1em 4em 1em;
  border-radius: 4em 1em 4em 1em;
  background-color: #ffffff;
  border: 6px;
  border-style: solid;
  border-color: #22aa22;
  color: black;
}


div.right {float: right;
           padding: 1em;
           width: 220px;
           color: #333333;
           font-style: italic;               
           font-size: small;}

img {border: 0;
     vertical-align: middle;}

p {margin-top: 0.5em;}


H3.anim2 
{
   font-size: large;
   color: #22aa22;
   line-height: 1.0;
   display: inline; 	
   padding-bottom: 0em;
   font-weight: normal;
}



