BODY, H1, H2, H3, H4, H5  {font-family: "Carlito",
                                        "Arial",
                                        "Helvetica",
                                        sans-serif;}

body {font-size: 14pt;
      line-height: 1.65em;
      margin-top: 1em;
      background-color: #222222;
      color: #EEDDEE;
      margin-left: 2em;
      margin-right: 2em;}

BODY.white {background-color: #FFFFFF;
            color: #222222;
            margin-left: 2em;
            margin-right: 2em;}

.content {max-width: 750px;
          margin: auto;}

.contentw {max-width: 850px;
          margin: auto;}

PRE {font-family: "Bitstream Vera Sans Mono",
                  "Monospace",
                  monospace;
     color : #FFFFFF;}

TT  {font-family: "Bitstream Vera Sans Mono", 
                  "Monospace",
                  monospace;
     color : #FFFFFF;}


A:LINK {text-decoration: none;
        color: #77ccdd;}
A:VISITED {text-decoration: none;
           color: #77ccdd;}
A:HOVER {text-decoration: underline;
         color: white;}

    
H1   {color: #EE55EE;
      font-weight: normal;
     text-align: center;}

H1.title {display:inline;}

H2   {font-size: large;
      color: #EE55EE;
      font-weight: normal;}

H3   {font-size: medium;
      color: yellow;
      line-height: 1.0;
      display: inline; 	
      padding-bottom: 0em;
      font-weight: normal;}


TABLE.contact {color: white;
	       margin-top: 4em; 
               border-collapse: collapse;
	       white-space: nowrap;
               border-width: 0px;
               border: 0px;}


TD.contact {padding: 5px;}



TABLE.classtitle {border-collapse: collapse;
                  border: 0px;}

TR.classtitle {background-color: #000000;}
TD.classtitle {font-size: x-large;}


A.classtitle:LINK {background: #66CCFF;
                   color: blue;}
A.classtitle:VISITED {background: #66CCFF;
                      color: blue;}	
A.classtitle:HOVER {background: blue;
                    color: #66CCFF;
                    text-decoration: none;}
	      
IMG.me {float: right;
	width: 50%;
        display: inline;
        margin: 2em; }


FONT.caption {font-size: small;}

li {padding: 0.5em;}


dt.paper {padding-top: 0.5em;
          padding-left: 0.25em;
          padding-bottom: 0.25em;
          font-style: italic;
          color: yellow;}

dd.paper {padding-left: 0.0em;
          padding-bottom: 1.0em;}


dt.links {padding-top: 0.5em;
          padding-left: 0.25em;
          padding-bottom: 0.125em;}

dd.links {padding-left: 0.0em;
          padding-bottom: 1.0em;
          margin-left: 2em;}


dt.teaching {font-size: large;
             padding-top: 0.5em;
             padding-left: 0.25em;
             padding-bottom: 0.125em;}

dd.teaching {padding-left: 0.0em;
             padding-bottom: 1.0em;
             margin-left: 2em;}


ul.menu {white-space: nowrap;
         padding: 0;
         margin: 0;
         padding-top: 1em;}

ul.menu li {background: black;
            color: yellow;
            display: inline;
            list-style-type: none;
            font-size: large;
            font-weight: normal;
            padding: 0;
            margin: 0;}

ul.menu a {text-decoration: none;
           display: inline;
           color: yellow;
           padding: 2px;}

ul.menu a:hover {color: black;
                 background-color: yellow;}

ul.menu li.current {padding: 2px;
                    display: inline;
                    background: black;
                    color: red;}


p.close {margin-top: 4em;}

TABLE.anim {width: 100%;
            padding: 0px; 
            border-collapse: collapse;
            border-color: #555555;
            border-width: 0 0 3px 3px;
            border-style: solid; }

td.anim_desc {padding: 8px;
              margin: 2px; 
              border-color: #555555;
              border-width: 3px 0 0 0;
              border-style: solid; }

td.anim_image {padding: 4px;
               margin: 4px;
               width: 210px;
               #background-color: white;
               text-align: center; 
               border-color: #555555;
               border-width: 3px 3px 0 0;
               border-style: solid; }

#ref {font-size: 90%;
      text-align: center;}

p.center {text-align: center;}

table {margin-top: 1em;
       margin-left: auto;
       margin-right: auto;}

table.border {padding: 0.5em;
              border: 1px solid yellow;
              border-collapse: collapse;}


.border td {padding: 0.5em;
            border: 1px solid yellow;
            border-collapse: collapse;}

th {text-align: center;}

td.center {text-align: center;}

td.description {text-align: center;
                background: yellow;
                color: black;}

tr.smaller {font-size: 80%;}

iframe {display: block;
        margin-left: auto;
        margin-right: auto;
        border: 0px;}

img {
   width: 100%;
  display: inline-block;
}


IMG.bubble_right {float: right;
                  width: auto;
                  margin: 2em;
                  display: inline; }

IMG.bubble {display: inline; 
            width: auto;}
