name: github pages

on:
  push:
    branches:
      - main

jobs:
  html5validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install html5validator

      - name: Validate
        run: html5validator --root . --also-check-css

